.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 80px; }
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
.jumbotron .btn-primary:hover {
    background: #7646c1; }
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
.navbar + .jumbotron {
    margin-top: -20px; }
.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
.jumbotron .lang-logo img {
    max-width: 100%; }
html {
    position: relative;
    min-height: 100%;
}
body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
    margin-bottom: 60px;
}
h3 {
    margin: 10px 0 30px 0;
    letter-spacing: 2px;      
    font-size: 18px;
    color: #111;
}

h4 {
    margin: 0;
    letter-spacing: 2px;      
    font-size: 16px;
}
.container {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.primary-container {
    padding: 60px 1%;
}
.subcontainer {
    padding: 20px 20px;
}
.subcontainer2 {
    padding-bottom: 20px;
}
.row {
    padding-bottom: 10px; 
}
.control-label {
    /*text-align: left;*/
}
/*:required {
  background: red;
}*/
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 2px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
.footer a {
    color: skyblue;
}
.footer a:hover {
    color: #777;
    text-decoration: none;
}
.footer {
    position: fixed;
    padding-top:10px; 
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    color: #f5f5f5;
    background-color: #2d2d30;
    opacity: 0.9;
}

textarea {
    resize: none;
}

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
    opacity: 1.0;
}
#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}

/* Style the clicking buttons inside the tab */
ul.nav-tabs li.tabbtns {
    float: right;
}

/* Style the add buttons inside the tab */
ul.nav-tabs button.tabaddbtns {
    float: left;
    margin: 5px 5px;
}
.dropdown-menu li a.create-link{
    font-style:italic;
}
.align-middle{
    text-align: center;
    vertical-align: middle;
}

/* alternating column backgrounds */
.vis-time-axis .grid.vis-odd {
    background: #f5f5f5;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
    /*background: lightgray;*/
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
    color: lightgray;
}

.date-label {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* The whole thing */
.event-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.event-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.event-menu li:hover {
    background-color: #DEF;
}

/* Loading Spin */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.panel hr {
    border-top:1px dashed grey;
    margin: 2px
}